{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}


{% block head_title %}Welcome | {{ block.super }}{% endblock %}

<style>
{% block style %}
.navbar-static-top {
	margin-bottom: 0px !important;
}

.jumbotron {
	background-color:#0E3D14;
	color: #FFF;
}

{% endblock %}
</style>


     
{% block jumbotron %}
 {% if not request.user.is_authenticated %}

<div class="jumbotron">
 <div class="container">
	<div class="row">
		<div class='col-sm-6'>
		<h1>MatchMaker 1.0</h1>
		<p>This is a matchmaking web application which helps you find similar people with the help of set of general question asked.
		You may like the person profile and if there is a mutual match u get the email.</p>
		</div>
		<div class='col-sm-6' >
			<iframe width="560" height="315" src="" frameborder="0" allowfullscreen></iframe>

 		</div>
		</div>
	</div>
 </div>
 {% endif %}
{% endblock %}

