{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

	<h3>{{ profile.user }}</h3>
	<p class='lead'>Match: {{ match.get_percent }} </p>

	{% if profile.picture %}
		<img src='{{ profile.picture.url }}' class='img-responsive center-block img-featured-match' />
	{% else %}
		<img src='{% static "img/default.jpg" %}' class='img-responsive center-block img-featured-match' />
	{% endif %}	

	<div>
		<ul>
			{% for job in jobs %}
				<li>{{ job.position }} at {{ job.employer_name }} in {{ job.location }}
			{% endfor %}
	</div>
	{% if mutual_like %}
		<h2>You are connected</h2>
		<span>{{ profile.user.email }}</span>
	{% endif %}
	<a href='{{ profile.get_like_url }}'>
		{% if i_like %}Unlike{% else %}Like{% endif %}
	</a>
	

{% endblock %}